@import 'tailwindcss';

@import "tw-animate-css";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(17 17 17);
  --foreground: rgb(245 243 245);
  --card: rgb(17 17 17);
  --card-foreground: rgb(245 243 245);
  --popover: rgb(17 17 17);
  --popover-foreground: rgb(245 243 245);
  --primary: rgb(237 130 94);
  --primary-foreground: rgb(17 17 17);
  --secondary: rgb(17 17 17);
  --secondary-foreground: rgb(245 243 245);
  --muted: rgb(17 17 17);
  --muted-foreground: rgb(245 243 245);
  --accent: rgb(237 130 94);
  --accent-foreground: rgb(17 17 17);
  --destructive: rgb(167 29 49);
  --destructive-foreground: rgb(245 243 245);
  --border: rgb(245 243 245);
  --input: rgb(245 243 245);
  --ring: rgb(237 130 94);
  --radius: 0.5rem;
}

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/opensans-light-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/opensans-lightitalic-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/opensans-regular-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/opensans-italic-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(/fonts/opensans-semibold-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: url(/fonts/opensans-semibolditalic-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/opensans-bold-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/opensans-bolditalic-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(/fonts/opensans-extrabold-webfont.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 800;
    src: url(/fonts/opensans-extrabolditalic-webfont.woff2) format("woff2");
  }
}
